<ngx-graph
  class="chart-container"
  [view]="view"
  [nodes]="nodes"
  [links]="links"
  layout="dagreCluster"
>
  <ng-template #defsTemplate>
    <svg:marker
      id="arrow"
      viewBox="0 -5 10 10"
      refX="8"
      refY="0"
      markerWidth="4"
      markerHeight="4"
      orient="auto"
    >
      <svg:path d="M0,-5L10,0L0,5" class="arrow-head" />
    </svg:marker>
  </ng-template>

  <ng-template #nodeTemplate let-node>
    <svg:g class="node">
      <svg:foreignObject
        [attr.width]="node.dimension?.width"
        [attr.height]="node.dimension?.height"
      >
        <body
          xmlns="http://www.w3.org/1999/xhtml"
          style="margin: 0; padding: 0"
        >
          <div
            style="
              width: 100%;
              height: 100%;
              background: #fff;
              border: 1px solid #ccc;
              padding: 4px;
              box-sizing: border-box;
              font-size: 12px;
            "
          >
            <input
              type="text"
              [ngModel]="node.label"
              (ngModelChange)="onLabelChange($event, node)"
              style="width: 100%; margin-bottom: 4px"
            />
            <div style="display: flex; justify-content: space-between">
              <button (click)="createYesNode(node)" style="font-size: 12px">
                Yes Node
              </button>
              <button (click)="createNoNode(node)" style="font-size: 12px">
                No Node
              </button>
            </div>
          </div>
        </body>
      </svg:foreignObject>
    </svg:g>
  </ng-template>

  <ng-template #linkTemplate let-link>
    <svg:g class="edge">
      <svg:path
        class="line"
        stroke-width="2"
        marker-end="url(#arrow)"
      ></svg:path>
    </svg:g>
  </ng-template>
</ngx-graph>
